<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="html_header">
	<header>
		<link rel="stylesheet" th:href="@{/styling/headerStyle.css}" />
		<a th:href="@{/index}" class="logo"><img th:src="@{/images/EmailLogo.png}" class="img" /></a>
		<nav>
			<ul>
				<li class="listItem" style="--i:1;"><a class="hyperlink" th:href="@{/index}">Home</a></li>
				<li class="listItem" style="--i:2;"><a class="hyperlink" th:href="@{/bookList}">Books</a></li>
				<li class="listItem" style="--i:3;"><a class="hyperlink" th:href="@{/addBooks}">Add Books</a></li>
				<li class="listItem" style="--i:4;"><a class="hyperlink" th:href="@{/list}">Users</a></li>
				<li class="listItem" style="--i:5;"><a class="hyperlink" th:href="@{/register}">Add Users</a></li>
				<li class="listItem" style="--i:6;"><a class="hyperlink" th:href="@{/contact}">Contact Us</a></li>
				<li class="listItem" style="--i:7;">
					<form th:action="@{/logout}" method=POST>
						<a><input type="submit" value="Log Out" class="input" /></a>
					</form>
				</li>
			</ul>
		</nav>
	</header>
</th:block>

</html>