<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Add a Book</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script type="text/javascript">

		$(document).ready(function () {

			$('#fileImage').change(function () {
				showImage(this);
			});
		});

		function showImage(fileInput) {
			file = fileInput.files[0];
			reader = new FileReader();

			reader.onload = function (e) {
				$('#cover').attr('src', e.target.result);
			};
			reader.readAsDataURL(file);
		};
	</script>

</head>

<body>
	<h1>Add a Book</h1>

	<form th:action="@{/processBookAddition}" method="POST" th:object="${book}" enctype="multipart/form-data">

		<div>
			<label>Book Cover Image:</label>
			<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg, image/jpg" />
		</div>

		<div>
			<span id="cover" style="width:50px; height:75px;"></span>
		</div>

		<div>
			<label>ISBN:</label>
			<input type="text" th:field="*{isbn}" required>
		</div>

		<div>
			<label>Title:</label>
			<input type="text" th:field="*{title}" required>
		</div>

		<div>
			<label>Author:</label>
			<input type="text" th:field="*{author}" />
		</div>

		<div>
			<label>Genre:</label>

			<div>
				<select th:field="*{genre}">
					<th:block th:each="genre : ${genres}">
						<option th:text="${genre.bookGenres}" th:value="${genre.genreID}"></option>
					</th:block>
				</select>
			</div>

		</div>

		<div>
			<button type="submit">Add Book</button>
		</div>
</body>

</html>