<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Issue a Book</title>
</head>

<body>
	<h1>Issue a Book</h1>

	<form th:action="@{/processIssuanceAddition}" method="POST" th:object="${issuance}">
		<div>
			<label>Date Of Issuance:</label>
			<input type="date" th:field="*{dateIssued}" required>
		</div><br>

		<div>
			<label>Choose the Book:</label>
			<select th:field="*{book}" required multiple>
				<th:block th:each="book : ${bookList}">
					<option th:text="${book.title} + ' by ' + ${book.author}" th:value="${book.bookID}" />
				</th:block>
			</select><br><br>

			<select th:field="*{user}" required>
				<th:block th:each="user : ${userList}">
					<option th:text="${user.firstName} + ' ' + ${user.firstName}" th:value="${user.userID}" />
				</th:block>
			</select>
		</div><br>

		<div>
			<button type="submit">Issue to the User</button>
		</div>
</body>

</html>