<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<h1>All Books</h1>

	<div>
		<form th:action="@{/bookList}">
			Search: <input type="text" name="keyword" required />
			&nbsp;
			<input type="submit" value="Search" />
			&nbsp;
			<input type="button" id="clear" value="Clear" onclick="clearFilter()" />
	</div>

	<div>
		<table>
			<thread>
				<tr>
					<th>Book Cover</th>
					<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=bookID&sortDir=' + ${reverseSortDir}}">Book
							ID#</a></th>
					<th><a
							th:href="@{'/page/' + ${currentPage} + '?sortField=isbn&sortDir=' + ${reverseSortDir}}">ISBN</a>
					</th>
					<th><a
							th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">Title</a>
					</th>
					<th><a
							th:href="@{'/page/' + ${currentPage} + '?sortField=author&sortDir=' + ${reverseSortDir}}">Author</a>
					</th>
					<th><a
							th:href="@{'/page/' + ${currentPage} + '?sortField=genre&sortDir=' + ${reverseSortDir}}">Genre</a>
					</th>
					<th>Actions</th>
				</tr>
			</thread>
			<tbody>
				<tr th:each="book: ${listOfBooks}">

					<td>
						<img th:src="@{${book.bookCoverPath}}" style="width:50px; height:75px;">
					</td>

					<td th:text=${book.bookID}>Book ID#</td>
					<td th:text=${book.isbn}>Book ISBN</td>
					<td th:text=${book.title}>Title</td>
					<td th:text=${book.author}>Author</td>
					<td th:text=${book.genre.bookGenres}>Genre</td>
					<td>
						<a th:href="@{'/edit/' + ${book.bookID}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${book.bookID}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		Total Number of Books: [[${totalElements}]] Page [[${currentPage}]] of [[${totalPages}]]
		&nbsp; - &nbsp;
		<a th:if="${currentPage > 1}"
			th:href="@{/page/1} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">First</a>
		<span th:unless="${currentPage > 1}">First</span>

		&nbsp;
		<a th:if="${currentPage > 1}"
			th:href="@{'/page/' + ${currentPage - 1}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		&nbsp;


		<th:block th:if="${totalPages <= 10}">
			<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				&nbsp;&nbsp;
				<a th:if="${i != currentPage}"
					th:href="@{'/page/' + ${i}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">[[${i}]]</a>
				<span th:unless="${i != currentPage}">[[${i}]]</span>
			</span>
		</th:block>

		<th:block th:if="${totalPages > 10}">
			<th:block th:if="${currentPage <= 5 || currentPage > totalPages - 4}">
				<span th:each="i: ${#numbers.sequence(1, 5)}">
					&nbsp;&nbsp;
					<a th:if="${i != currentPage}"
						th:href="@{'/page/' + ${i}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>
				<a th:if="${i != currentPage}"
					th:href="@{'/page/' + 6} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">...</a>

				<span th:each="i: ${#numbers.sequence(totalPages - 4, totalPages)}">
					&nbsp;&nbsp;
					<a th:if="${i != currentPage}"
						th:href="@{'/page/' + ${i}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>
			</th:block>


			<th:block th:if="${currentPage > 5 && currentPage <= totalPages - 4}">
				<a th:if="${i != currentPage}"
					th:href="@{'/page/' + ${currentPage - 5}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">...</a>

				<span th:each="i: ${#numbers.sequence(currentPage - 4, currentPage + 4)}">
					&nbsp;&nbsp;
					<a th:if="${i != currentPage}"
						th:href="@{'/page/' + ${i}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">[[${i}]]</a>
					<span th:unless="${i != currentPage}">[[${i}]]</span>
				</span>


				<a th:if="${i != currentPage}"
					th:href="@{'/page/' + ${currentPage + 5}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">...</a>
			</th:block>
		</th:block>

		&nbsp;
		<a th:if="${currentPage < totalPages}"
			th:href="@{'/page/' + ${currentPage + 1}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;

		<a th:if="${currentPage < totalPages}"
			th:href="@{'/page/' + ${totalPages}} + '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>

	</div>

	<script>
		function clearFilter() {
			window.location = '/bookList';
		}
	</script>
</body>

</html>