<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<h1>All Books</h1>

	<div>
		<form th:action="@{/bookList}">
			Search: <input type="text" name="keyword" required />
			&nbsp;
			<input type="submit" value="Search" />
			&nbsp;
			<input type="button" id="clear" value="Clear" onclick="clearFilter()" />
	</div>

	<div>
		<table>
			<thread>
				<tr>
					<th>Book ID#</th>
					<th>Book ISBN</th>
					<th>Title</th>
					<th>Author</th>
					<th>Book Genre</th>
					<th>Actions</th>
				</tr>
			</thread>
			<tbody>
				<tr th:each="book: ${listOfBooks}">
					<td th:text=${book.bookID}>Book ID#</td>
					<td th:text=${book.isbn}>Book ISBN</td>
					<td th:text=${book.title}>Title</td>
					<td th:text=${book.author}>Author</td>
					<td th:text=${book.genre.bookGenres}>Genre</td>
					<td>
						<a th:href="@{'/edit/' + ${book.bookID}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${book.bookID}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
		function clearFilter() {
			window.location = '/bookList';
		}
	</script>
</body>

</html>