<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact Us!</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/styling/contactStyle.css}" />
	<link rel="icon" th:href="@{/images/BearLogo.png}">
</head>

<body>
	<form th:action="@{/contact}" method="POST">
		<div class="container">
			<div class="contact">
				<div class="left"></div>
				<div class="right">
					<img th:src="@{images/ManagerIcon.png}" style="width:65px; height: 65px;">
					<h1>CONTACT US!</h1>
					<input type="text" class="field" placeholder="*Subject*" name="subject" required autofocus />
					<input type="text" class="field" name="fullName" required minlength="3" maxlength="45"
						placeholder="*Your Full Name*" />
					<input type="email" name="email" class="field" required maxlength="45"
						placeholder="*Email Address*" />
					<textarea rows="5" name="message" placeholder="Message" class="field area"></textarea>
					<input type="submit" value="Send" class="button">
				</div>
			</div>
		</div>
	</form>
</body>

</html>