<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit the Book!</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

	<link rel="icon" th:href="@{/images/BearLogo.png}">
	<link rel="stylesheet" th:href="@{/styling/editBookStyle.css}" />
	<script th:src="@{/styling/swingPopup.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<header th:replace="fragments/header :: html_header">
</header>

<body>
	<form th:action="@{/processBookAddition}" method="POST" th:object="${book}" enctype="multipart/form-data">
		<div class="container">
			<div class="contact">
				<div class="left"></div>
				<div class="right">
					<img th:src="@{/images/EditIcon.png}" style="width:50px; height: 50px;">
					<h1>Edit the Book!</h1>

					<input type="hidden" th:field="*{bookID}" />

					<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg, image/jpg"
						class="field" style="margin-top: 10px;" autofocus required />

					<input type="text" class="field" th:field="*{isbn}" required placeholder="*ISBN Number">

					<input type="text" class="field" th:field="*{title}" required placeholder="*Book Title">

					<input class="field" type="text" th:field="*{author}" placeholder="*Book Author" />

					<input type="number" class="field" th:field="*{numOfPages}" placeholder="*Total Number Of Pages">

					<select th:field="*{genre}" class="field">
						<option th:each="genre : ${genres}" th:text="${genre.bookGenres}" th:value="${genre.genreID}">
						</option>
					</select>

					<input id="submit" type="submit" value="Save" class="button" onclick="displayPopup()">
				</div>
			</div>
		</div>
	</form>
</body>

</html>