<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login</title>

	<link rel="stylesheet" th:href="@{/styling/indexStyle.css}" />
	<link rel="icon" th:href="@{/images/BearLogo.png}">
</head>

<body style="margin: 0; padding: 0;">
	<header th:replace="fragments/header :: html_header">
	</header>
	<center>
		<h1>Welcome [[${#request.userPrincipal.principal.fullName}]]!</h1>
	</center>
	<footer th:replace="fragments/footer :: html_footer">
	</footer>
</body>

</html>